/* .container {
  max-width: 800px;
  margin: 0 auto;
} */
/* *{
  background-color: #F5F8F9;
} */
.custom-upload-button {
  padding: 2vw; /* Responsive padding */
  background-color: #fff; /* White background for the button */
  color: #000; /* Black text */
  border: 1px solid #ccc; /* Subtle border */
  border-radius: 0.5vw; /* Rounded corners */
  cursor: pointer;
  width: 80%; /* Responsive width */
  display: inline-block; /* Align the button */
  text-align: center; /* Center text */
  margin: 1vh 15vh; /* Add spacing */
}


.custom-upload-button:hover {
  background-color: #beb7b7; /* Change for hover effect */
}
.container {  background-color: #F5F8F9;}
.setPurple { 
   /* background-color: #c533b9 !important; */
   background-color: #3EBACE;
  

  }
  .setPurple-dark { 
    /* background-color: #c533b9 !important; */
    background-color: #2D9FB3;
   
   }
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-bottom: 20px; */
}

.form-body {

  padding: 15px 50px;
  border-radius: 5px;
  /* margin-bottom: 10%; */
  
  /* border: 1px solid black; */
}

.form-group-row {
  display: flex;
 margin-bottom: 3%;
  /* align-items: center; */
  /* margin-bottom: 10px; */
}

.form-group-row label {
  width: 100px;
  margin-right: 10px;
  /* text-align: right; */
}
.color-border{
  border:1px solid #98198e !important;
  }
  .form-body{
    border: 1px solid Grey;
  }

.form-group-row .form-control,
.form-group-row .react-select {
  flex: 1;
}
.dropdown{
  width: 78%;
}
.dropdown2{
  width: 65%;
}
/* .form-actions {
  display: flex;
 
  gap: 1%;
  width: 100%;
  padding: 20px;
  bottom: 0;
  background-attachment: fixed;
} */
.form-actions {
  display: flex;
   justify-content: end; 
  gap: 1%;
  /* width: 100%; */
  padding:5px 50px;
  position: fixed;
  bottom: 0; 
  z-index: 100;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); 
}
.form-actions button,.fix-btn-size {
  padding: 10px 20px; /* Increases button size */
  font-size: 20px; /* Larger text */
  height: 50px; /* Ensures consistent height */
  border-radius: 5px; /* Optional: Makes buttons slightly rounded */
  cursor: pointer; /* Indicates clickable buttons */
  background-color: #3EBACE;
  border: none;
  transition: background-color 0.3s, transform 0.2s, box-shadow 0.2s;
}

.form-actions button:hover ,.add:hover  ,.last-btn:hover{
  background-color: #0056b3; /* Darker shade on hover */
  transform: translateY(-2px); /* Slight lift effect */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adds a shadow */
}

.form-actions button:active {
  transform: translateY(0); /* Removes lift effect on click */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Slightly smaller shadow */
}
/* .btn {
  display: flex;
  align-items: center;
  gap: 5px;
} */
@media screen and (max-width: 1000px){
  
  
  .dropdown{
    width: 75%;
  }
}
